<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>Up2Heaven</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginform.css') }}"></link>
  
    {% block head %}{% endblock %}
</head>
<body class="align">
    {% block body %}{% endblock %}
</body>
</html>
